---
current_page: 4
from: 15
to: 20
---

{% from "../../_includes/components/macros/category-post.macro.njk" import macro_category_post %}
<div class="posts-container">
    {{ macro_category_post(collections.technologyCollection, category, from, to) }}
</div>