---
current_page: 1
---

{% from "../../_includes/components/macros/category-post.macro.njk" import macro_category_post %}
<div class="posts-container">
    {{ macro_category_post(collections.codeCollection, category, 0, 40) }}
</div>