---
current_page: 3
from: 10
to: 15
---

{% from "../../../_includes/components/macros/category-post.macro.njk" import macro_category_post %}
<div class="posts-container">
	{{ macro_category_post(collections.technologyCollectionEn, category, from, to, categories, locale) }}
</div>