---
current_page: 3
---

{% from "../../_includes/components/macros/category-post.macro.njk" import macro_category_post %}
<div class="posts-container">
    {{ macro_category_post(collections.decapPosts, category, 80, 120) }}
</div>