<!-- @format -->

{% block footer %}
    <footer>
        {# BEGIN FOOTER MAIN CONTENT #}
        <div id="footer-main-content">
            {# BEGIN FIRST BLOCK #}
            <div id="footer-main-content__first_block" class="footer-main-content__block">
                <a id="footer-main-content__first_block-imgBox" href="https://atdev.do/">
                    <img src="/uploads/images/logo.png" alt="Logo Image">
                </a>
                <div id="footer-main-content__first_block-contentBox">
                    <p>
                        <span>{{ footer['main-content']['first-block'].span }}</span>
                        {{ footer['main-content']['first-block'].text }}
                    </p>
                </div>
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/company/atdev/about/" target="_blank">
                            <img src="/assets/icons/linkedin-icon.png" alt="LinkedIn Icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/AtdevConsulting" target="_blank">
                            <img src="/assets/icons/twitter-icon.png" alt="Twitter Icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/atdev.do/" target="_blank">
                            <img src="/assets/icons/instagram-icon.png" alt="Instagram Icon">
                        </a>
                    </li>
                </ul>
            </div>
            {# END FIRST BLOCK #}

            {# BEGIN SECOND BLOCK #}
            <div id="footer-main-content__second-block" class="footer-main-content__block">
                <h3>{{ footer['main-content']['second-block'].title }}</h3>
                <ul class="footer-main-content__block-list">
                    {% for item in footer['main-content']['second-block'].links %}
                        <li>
                            <a href={{ item.link }} target="_blank">
                                {{ item.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {# END SECOND BLOCK #}

            {# BEGIN THIRD BLOCK #}
            <div id="footer-main-content__third-block" class="footer-main-content__block">
                <h3>{{ footer['main-content']['third-block'].title }}</h3>
                <ul class="footer-main-content__block-list">
                    {% for item in footer['main-content']['third-block'].links %}
                        <li>
                            <a href={{ item.link }} target="_blank">
                                {{ item.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {# END THIRD BLOCK #}

            {# BEGIN FOURTH BLOCK #}
            <div id="footer-main-content__fourth-block" class="footer-main-content__block">
                <h3>{{ footer['main-content']['fourth-block'].title }}</h3>
                <ul class="footer-main-content__block-list">
                    {% for item in footer['main-content']['fourth-block'].items %}
                        <li>
                            <img src={{ item.icon }} alt="Contact Icon">
                            <p>
                                {{ item.text }}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {# END FOURTH BLOCK #}
        </div>
        {# END FOOTER MAIN CONTENT #}

        {# BEGIN FOOTER SECONDARY CONTENT #}
        <div id="footer-secondary-content">
            <div>
                <a href={{ footer['secondary-content']['terms'].link }}>{{ footer['secondary-content']['terms'].label }}</a>
                <a href={{ footer['secondary-content']['policy'].link }}>{{ footer['secondary-content']['policy'].label }}</a>
            </div>
            <a href="">{{ footer['secondary-content']['copyright'] }}</a>
        </div>
        {# END FOOTER SECONDARY CONTENT #}
    </footer>
{% endblock footer %}