{% block jsMinifierCategory %}
    <!-- capture the CSS content as a Nunjucks variable -->
    {% set js %}
    {% include "../../../assets/js/custom.js" %}
    {% include "../../../assets/js/header.js" %}
    {% include "../../../assets/js/sort-category.js" %}
    {% include "../../../assets/js/mixpanel.js" %}
    {% include "../../../assets/js/language_switch.js" %}
    {% endset %}
    <!-- feed it through our jsmin filter to minify -->
    <script>
        {{js | jsmin | safe}}
    </script>
{% endblock jsMinifierCategory %}