/** @format */

.atdev {
	position: relative;
}

.atdev-content {
	z-index: 4;
	position: absolute;
	top: 25%;
	left: 32%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.6rem;
}

.atdev-content h2 {
	font-size: 2rem;
	font-weight: bolder;
	color: var(--color-h2);
}

.atdev-content a {
	font-weight: 600;
	font-size: 0.8rem;
	color: var(--color-minRead);
	padding: 1rem;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
}

.atdev-content a:hover {
	color: rgba(0, 0, 0, 0.9);
}

.atdev-imgBox {
	z-index: 3;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	filter: blur(6px);
	-webkit-filter: blur(8px);
}

.atdev-imgBox img {
	width: 100%;
}

#atdev-content-customsd {
	left: 28%;
}

#atdev-content-about {
	top: 30%;
	left: 42%;
}

#atdev-content-contact {
	left: 42%;
}

#atdev-content-about,
#atdev-content-nearshore,
#atdev-content-customsd,
#atdev-content-contact {
	background-color: transparent;
}

#atdev-content-about a,
#atdev-content-nearshore a,
#atdev-content-customsd a,
#atdev-content-contact a {
	transition: transform 0.2s;
}

#atdev-content-about a:hover,
#atdev-content-nearshore a:hover,
#atdev-content-customsd a:hover,
#atdev-content-contact a:hover {
	transform: scale(1.06);
}
