/** @format */

.category-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.category-container__head {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.category-container__head h2 {
  color: var(--color-h2);
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.category-container__head a {
  color: var(--color-paragraph);
  font-weight: 700;
  font-size: 1.2rem;
}

/* BEGIN CATEGORY POSTS */
.category-posts h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--color-h4);
}

.category-inner_navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.category-inner_navigation > h2 {
  color: var(--color-paragraph);
}

.category-inner_navigation a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--color-h2);
}
/* END CATEGORY POSTS */
