/** @format */

:root {
	/* BEGIN COLORS */
	--color-h1: #1074bc;
	--color-h2: #1074bc;
	--color-h3: #1074bc;
	--color-h4: #1074bc;
	--color-paragraph: #54647a;
	--color-paragraph-secondary: #3783b9;
	--color-span: #1074bc;
	--santa-grey: #9aa3b6;
	/* END COLORS */

	/* BEGIN BACKGROUND */
	--background-base: #ffffff;
	--background-black: #2e2e33;
	/* END BACKGROUND */

	/* BEGIN BOX SHADOW */
	--box-shadow: 0 1px 1px 0 #1074bc;
	--box-shadow-hover: 0 1px 10px 0 #6689c4;
	--box-shadow-post: 0 0.2rem 1rem 0.4rem #1074bc;
	/* END BOX SHADOW */

	/* BEGIN OTHERS */
	--transition-speed: 0.1s;
	/* END OTHERS */
}
