/** @format */

.title {
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 25px;
	font-weight: 700;
	color: #1074bc;
}
.title:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 40%;
	transform: translateX(-50%);
	width: 80%;
	height: 1px;
	background-color: #f70037;
	background-color: #1074bc;
}
.title:after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 10%;
	transform: translateX(-50%);
	width: 45px;
	width: 25%;
	height: 3px;
	background-color: #f70037;
	background-color: #1074bc;
}
.how-section1 {
	margin-top: -15%;
	padding: 10%;
}
.how-section1 h4 {
	color: #1074bc;
	font-weight: bold;
	font-size: 30px;
}
.how-section1 .subheading {
	color: #3c92cf;
	font-size: 20px;
}

.heading {
	color: #3c92cf;
}

.heading-sub {
	color: #1074bc;
}

.how-section1 .row {
	margin-top: 10%;
}
.how-img {
	text-align: center;
}
.how-img img {
	zzwidth: 40%;
}

.main-banner-title {
	color: #1074bc;
}
.main-banner-desc {
	font-size: larger;
}

/*----------------------------------------*/
/*    17. Pages - Contact
/*----------------------------------------*/
.contact-info .section-title p {
	max-width: 600px;
	margin: 0 auto;
}

.info {
	border: 1px solid #ebebeb;
	padding: 0 32px 32px;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (max-width: 991px) {
	.info {
		padding: 0 28px 28px;
	}
}

/*----------------------------------------*/
/*    google - maps
/*----------------------------------------*/
.contact-map {
	height: 500px;
	width: 100%;
	display: block;
}

/*----------------------------------------*/
/*     fresh - team
/*----------------------------------------*/

.freshteam {
	height: 1550px;
	width: 100%;
	display: block;
}

/*----------------------------------------*/
/*    AdryDev - Rules
/*----------------------------------------*/
.btn-language {
	cursor: pointer;
}

#error-page {
	max-width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	padding: 0 10rem;
	text-align: justify;
	color: #303036;
}

#error-page > * {
	font-weight: 400;
}

#error-page > h1 {
	font-size: 4rem;
}

#error-page > h3 {
	font-size: 1.9rem;
	line-height: 3rem;
}

h1,
h2,
h3 {
	/* font-size: 3rem !important; */
	font-weight: 700 !important;
	color: #1074bc !important;
	font-family: 'GothamBold', sans-serif !important;
}

#upBtn {
	display: none;
}
