/** @format */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', 'Gotham', 'Plus Jakarta Sans', sans-serif;
}

/* width */
::-webkit-scrollbar {
	width: 0.125rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	background-color: white;
	min-height: 100rem;
}

main {
	padding: 1rem 6vw 4.3rem 6vw;
	display: flex;
	flex-direction: column;
	gap: 6rem;
}

a {
	text-decoration: none;
}

p {
	color: var(--color-paragraph);
}

button {
	border: none;
}

ul,
ol {
	display: block;
	list-style: none;
}

img {
	object-fit: cover;
}

#scroll-button {
	display: none;
	position: fixed;
	bottom: 22px;
	right: 4px;
	z-index: 999;
	font-size: 18px;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 1rem;
	border-radius: 0.2rem;
	transition: transform var(--transition-speed);
}

#scroll-button:hover {
	transform: scale(1.22);
}

.is-active-link::before {
	background-color: var(--color-h1) !important;
}

@media only screen and (max-width: 600px) {
	#scroll-button {
		position: fixed;
		bottom: 22px;
		right: 1px;
		z-index: 999;
		font-size: 18px;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 1rem;
		border-radius: 0.2rem;
		transition: transform var(--transition-speed);
	}
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
	main {
		gap: 8rem;
	}

	#scroll-button {
		position: fixed;
		bottom: 22px;
		right: 0.1px;
		z-index: 999;
		font-size: 18px;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 1rem;
		border-radius: 0.2rem;
		transition: transform var(--transition-speed);
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: white;
	}
}
