/* @font-face {
	font-family: 'figtree';
	src: url('/assets/fonts/Cerebri-Sans-Bold-1.woff') format('woff');
	font-display: swap;
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'figtree', 'Lato', 'figtree', 'Plus Jakarta Sans', sans-serif;
}

header {
	background-color: white !important;
}

/* width */
::-webkit-scrollbar {
	width: 0.125rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	background-color: white;
	min-height: 100rem;
}

#inner-main {
	padding: 1rem 6vw 4.3rem 6vw;
	display: flex;
	flex-direction: column;
	gap: 6rem;
}

a {
	text-decoration: none;
}

p {
	color: var(--color-paragraph);
}

button {
	border: none;
}

ul,
ol {
	display: block;
	list-style: none;
}

img {
	object-fit: cover;
}

.is-active-link::before {
	background-color: var(--color-h1) !important;
}

@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 600px) and (max-width: 900px) {
	main {
		gap: 8rem;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: white;
	}
}