/** @format */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-base);
  height: 15vh;
  padding: 0 3.8rem;
  z-index: 999;
}

header div {
  width: 15%;
}

header div img {
  width: 100%;
  height: 100%;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header nav a {
  color: var(--color-paragraph);
  font-weight: 500;
  padding: 1.2rem 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
