/** @format */

.intro {
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #4394ce;
	height: 24rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: end;
	gap: 1rem;
	padding: 0 12rem;
	box-shadow: 0 10px 6px rgba(0, 33, 41, 0.13295);
}

.intro img {
	width: 100%;
	height: auto;
}

.intro_text1 {
	width: 50vw;
	margin-left: -4rem;
	color: #555c6f !important;
}

.intro_text2 {
	font-size: 3rem;
}

@media only screen and (max-width: 600px) {
	.intro {
		padding: 0;
		padding: 1.4rem;
	}
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
	.intro {
		padding: 6.8rem;
	}
}
