.intro {
	margin-top: 5.15em;
	width: 100%;
	height: 16em;
	position: relative;
	z-index: 1;
}

.intro-txt-container {
	z-index: 2;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 1.8em;
}

.intro_text1 {
	width: 100%;
	color: #555c6f !important;
	padding: 0;
	margin: 0;
}

.intro img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-shadow: 0 10px 6px rgba(0, 33, 41, 0.13295);
}

@media only screen and (max-width: 991px) {
	.intro {
		margin-top: 3.71em;
	}
}

@media only screen and (min-width: 800px) {
	.intro-txt-container {
		text-align: start;
		padding: 0 8em;
	}
}