.banner-macro {
	position: relative;
	height: calc(30vh + 6em);
	z-index: 1;
	margin-top: 5.2em;
}

#post-layout .banner-macro {
	margin-top: 0em;
}

.banner-macro-content {
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;
	place-content: center;
	z-index: 20;
	text-align: center;
}

.banner-macro__title {
	font-size: 4em;
	margin: 0;
}

.banner-macro__description {
	font-size: 1.8em;
}

.banner-macro__banner {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.banner-macro__iconBox {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color: transparent;
}

.banner-macro__icon {
	position: absolute;
	width: 7em;
	z-index: 4;
	bottom: calc(15vh + 2.2em);
	right: 5em;
}