/** @format */

#filterbox {
	display: flex;
	align-items: start;
	flex-direction: column;
	width: 55.4vw;
}

.field {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

#search-text {
	font-size: 1.8rem;
	font-weight: bolder;
	color: var(--color-h3);
}

#searchField {
	width: 100%;
	margin-top: 0.1rem;
	font-size: 1.1rem;
	font-weight: bolder;
	padding: 0.8rem 0.6rem;
	border-radius: 0.2rem;
	border: none;
	outline: none;
	box-shadow: var(--box-shadow);
	transition: transform var(--transition-speed);
}

input {
	color: var(--color-h1);
}

#searchField::placeholder {
	color: var(--color-h1);
	opacity: 1; /* Firefox */
}

#searchField:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: var(--color-paragraph);
}

#searchField::-ms-input-placeholder {
	/* Microsoft Edge */
	color: var(--color-paragraph);
}

#searchField:focus {
	box-shadow: var(--box-shadow);
	transform: scale(1.002);
}

#field-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

#filter-sort-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	gap: 2rem;
}

#sort-by-title-box {
	color: var(--color-h1);
}

#sort-by-title-box h2 {
	font-size: 1.2rem;
}

#sort-controls {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 1.2rem;
}

#sort-controls button {
	width: 8rem;
	height: 2.8rem;
	padding: 0 1rem;
	color: var(--color-paragraph-secondary);
	font-size: 0.8rem;
	font-weight: bold;
	border-radius: 0.2rem;
	cursor: pointer;
	border: none;
}

#sort-btn-title,
#sort-btn-time-read,
#sort-btn-category,
#sort-btn-date {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.6rem;
	/* height: 1.8rem; */
	color: var(--color-h2);
	background-color: white;
	box-shadow: var(--box-shadow);
	transition: transform var(--transition-speed);
}

#sort-btn-title:hover,
#sort-btn-time-read:hover,
#sort-btn-category:hover,
#sort-btn-date:hover {
	transform: scale(1.08);
}

#sort-btn-title img,
#sort-btn-time-read img,
#sort-btn-category img,
#sort-btn-date img {
	width: 25%;
}

#sort-btn-title.active,
#sort-btn-time-read.active,
#sort-btn-category.active,
#sort-btn-date.active {
	background-color: white;
	box-shadow: 0 1px 10px 0 #6689c4;
}

.category-posts #sort-btn-category {
	display: none;
}

.active button {
	box-shadow: 0 1px 10px 0 #6689c4;
}

#searchResults h3 {
	font-size: 1rem;
	padding-top: 1rem;
}

#searchResults h3 a {
	color: var(--color-h3);
}

#category-filter {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	margin-top: 2rem;
}

#category-filter__list {
	padding: 1.2rem 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
	width: 100%;
}

#category-filter__list a {
	padding: 1rem 0;
	color: var(--color-h3);
	transition: transform var(--transition-speed);
	font-weight: 600;
	font-size: 1rem;
}

#category-filter__list a:hover {
	transform: scale(1.08);
}

@media only screen and (max-width: 600px) {
	#category-filter__list {
		flex-wrap: wrap;
	}

	#sort-controls {
		/* flex-direction: column; */
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
}
