---
permalink: /pages/en/
title: 'ATDEV Blog'
layout: 'layouts/base.njk'
tags: 'en'
locale: 'en'
dir: 'ltr'
---
{# BEGIN MACROS - IMPORTS #}
{% from "../../_includes/components/macros/sort-posts.macro.njk" import macro_sorted_list_title %}
{% from "../../_includes/components/macros/sort-posts.macro.njk" import macro_sorted_list_time %}
{% from "../../_includes/components/macros/sort-posts.macro.njk" import macro_sorted_list_category %}
{% from "../../_includes/components/macros/sort-posts.macro.njk" import macro_sorted_list_date %}
{% from "../../_includes/components/macros/sort-posts.macro.njk" import macro_no_sort %}
{% from "../../_includes/components/macros/category-post.macro.njk" import macro_category_post %}
{% from "../../_includes/components/macros/atdev.macro.njk" import macro_atdev %}
{% from "../../_includes/components/macros/category.macro.njk" import macro_category %}
{% from "../../_includes/components/macros/filter.macro.njk" import macro_filter %}
{# END MACROS - IMPORTS #}

{% if collections.decapPostsEn | length != 0 %}

	{# BEGIN FILTER - SORTING #}
	<script src="/assets/js/searchEn.js" defer></script>
	{{macro_filter("Search...", "No results found.", "SORT BY", "Title", "Time", "Category", "Date")}}
	<script defer>
		const searchFieldValue = document.getElementById('searchField')
		document.onkeydown = function (e) {
			if (e.code == "Enter") {
				console.log(e.code);
				localStorage.setItem('searchFieldValue', searchFieldValue.value)
				console.log(localStorage.getItem('searchFieldValue'))
			}
		};
	</script>
	{# END FILTER - SORTING #}

	{# BEGIN POST LIST #}
	<div id="sorting">
		<div id="sorted-title" style="display: none;">
			{{ macro_sorted_list_title(collections.sortedByTitleEn, 7, categories, locale) }}
		</div>

		<div id="sorted-time" style="display: none;">
			{{ macro_sorted_list_time(collections.sortedByTimeEn, 7, categories, locale) }}
		</div>

		<div id="sorted-category" style="display: none;">
			{{ macro_sorted_list_category(collections.sortedByCategoryEn, 7, categories, locale) }}
		</div>

		<div id="sorted-date" style="display: none;">
			{{ macro_sorted_list_date(collections.sortedByDateEn, 7, categories, locale) }}
		</div>

		<div id="not-sorted">
			{{ macro_no_sort(collections.decapPostsEn, categories, locale) }}
		</div>
	</div>
	{# END POST LIST #}

	{# BEGIN CATEGORIES #}

	{# BEGIN TECHNOLOGY - CATEGORY #}
	{{macro_category('Technology', 'View More', "/categories/en/technology/1", collections.technologyCollectionEn, 'technology', 0, 7, categories, locale, 'No Posts Available')}}
	{# END TECHNOLOGY - CATEGORY #}

	{# BEGIN ATDEV CUSTOM SOFTWARE DEVELOPMENT #}
	{{
  macro_atdev(
    'atdev-content-customsd',
    'Custom Software Development',
    'https://atdev-testing.netlify.app/pages/en/services/app-development/',
    '/assets/images/customsd.jpg',
    'Custom Software Development Image'
  )
}}
	{# END ATDEV CUSTOM SOFTWARE DEVELOPMENT #}

	{# BEGIN COMMUNITY - CATEGORY #}
	{{macro_category('Community', 'View More', "/categories/en/community/1", collections.communityCollectionEn, 'community', 0, 7, categories, locale, 'No Posts Available')}}
	{# END COMMUNITY - CATEGORY #}

	{# BEGIN ATDEV ABOUT #}
	{{
  macro_atdev(
    'atdev-content-about',
    'About Us',
    'https://atdev-testing.netlify.app/pages/en/about/',
    '/assets/images/about.jpg',
    'About Image'
  )
}}
	{# END ATDEV ABOUT #}

	{# BEGIN GROWTH - CATEGORY #}
	{{macro_category('Growth', 'View More', "/categories/en/growth/1", collections.growthCollectionEn, 'growth', 0, 7, categories, locale, 'No Posts Available')}}
	{# END GROWTH - CATEGORY #}

	{# BEGIN ATDEV NEARSHORE #}
	{{
  macro_atdev(
    'atdev-content-nearshore',
    'Nearshore Augmentation',
    'https://atdev-testing.netlify.app/pages/en/services/nearshore/',
    '/assets/images/nearshore.jpg',
    'Nearshore Image'
  )
}}
	{# END ATDEV NEARSHORE #}

	{# BEGIN REMOTE WORK - CATEGORY #}
	{{macro_category('Remote Work', 'View More', "/categories/en/remote-work/1", collections.remoteWorkCollectionEn, 'remote-work', 0, 7, categories, locale, 'No Posts Available')}}
	{# END REMOTE WORK - CATEGORY #}

	{# END CATEGORIES #}

{% else %}
	<h2 style="text-align: center; height: 300px; display: flex; align-items: center; justify-content: center;">No Posts Available</h2>
{% endif %}