---
current_page: 1
from: 0
to: 40
---

{% from "../../../_includes/components/macros/category-post.macro.njk" import macro_category_post %}
<div class="posts-container">
    {{ macro_category_post(collections.communityCollectionEn, category, from, to) }}
</div>