{% macro macro_category_post(collection, category, amount) %}
    {% from "./post.macro.njk" import macro_post %}

    {% for post in collection %}
        {% if post.data.category == category and loop.index < amount %}
            {{ macro_post(post.data.title, post.data.description, post.data.category, post.data.author, post.data.minRead, post.data.featuredImage, post.url) }}
        {% endif %}
    {% endfor %}
{% endmacro %}