{% macro macro_intro(banner, title, description) %}
    <div class="banner-macro">
        <div class="banner-macro-content">
            <h1 class="banner-macro__title">{{ title }}</h1>
            <p class="banner-macro__description">{{ description }}</p>
        </div>
        <img class="banner-macro__banner" src="{{banner}}" alt="image">
        <div class="banner-macro__iconBox">
            {# <img class="banner-macro__icon" src="/assets/icons/LOGO-ATDEV.png" alt="image"> #}
        </div>
    </div>
{% endmacro %}