{% macro macro_post(title, description, category, author, minRead, image, url) %}
    <a href={{url}} class="post-card">
        <div class="post-card__imgBox">
            <img src={{ image }} alt="post image">
        </div>
        <div class="post-card__contentBox">
            <p class="post-card__contentBox-category">{{ category }}</p>
            <h2>{{ title }}</h2>
            <p>{{ description }}</p>
            <div class="post-card__contentBox-author_minRead">
                <h3>
                    <span>Author: </span>{{ author }}
                </h3>
                <h4>{{ minRead }} min read</h4>
            </div>
        </div>
    </a>
{% endmacro %}