{% macro macro_post(title, description, category, publishDate, author, minRead, image, url, lazy, categories, locale) %}
	<style>
		.post-card {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: start;
			background-color: rgb(254, 254, 252);
			width: 22rem;
			height: 35em !important;
			text-decoration: none !important;
			border-radius: 2em;
			padding: 0 1em;
			box-shadow: 0 0 1rem -0.2rem #1074bc;
		}

		@media only screen and (min-width: 500px) {}

		@media only screen and (min-width: 800px) {
			.post-card {
				transition: var(--transition-speed);
			}

			.post-card:hover {
				padding: 0 1rem;
				transform: scale(1.09);
				box-shadow: var(--box-shadow-post);
			}
		}

		.post-card__imgBox {
			display: flex;
			width: inherit;
			min-height: 17rem;
			max-height: 17rem;
			border-radius: 2em;
			flex-direction: column;
		}

		.post-card__imgBox img {
			width: inherit;
			min-height: 16rem;
			max-height: 16rem;
			border-top-left-radius: 2em;
			border-top-right-radius: 2em;
		}

		.post-card__contentBox {
			width: 100%;
			display: flex;
			padding: 1rem 0;
			font-weight: bold;
			flex-direction: column;
		}

		.post-card__contentBox p {
			word-spacing: 0.2rem;
			line-height: 1.3;
			white-space: wrap;
		}

		.post-card__contentBox-category_publishDate {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.post-card__contentBox-category_publishDate > .post__imgBox-textBox__publishDate {
			font-size: 0.75em;
			font-weight: 900;
			color: var(--santa-grey);
			text-align: end;
		}

		.post-card__contentBox-category {
			text-transform: uppercase;
			font-size: 0.84rem;
			font-weight: bold;
			color: var(--color-paragraph-secondary);
		}

		.post-card__contentBox h2 {
			color: var(--color-h2);
			line-height: 1.8rem;
			font-size: 1.3rem;
			font-weight: 700;
			margin-top: 0 !important;
		}

		.post-card__contentBox-author_minRead {
			display: flex;
			align-items: center;
		}

		.post-card__contentBox-author_minRead h3 {
			color: var(--color-h2);
			font-size: 1rem;
		}

		.post-card__contentBox-author_minRead h3 span {
			color: var(--color-h1);
		}

		.post-card__contentBox-author_minRead h4 {
			font-size: 0.9rem;
			text-transform: capitalize;
			margin-top: 0 !important;
		}

		.post-card__contentBox-author_minRead {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 0.8rem;
			color: var(--color-paragraph-secondary);
		}
	</style>

	<a onclick="mixpanel.track('Go to ' + title + ' Page Button - Blog')" href={{url}} class="post-card" >
		<div class="post-card__imgBox">
			{% if lazy == true %}
				<img  src={{ image }} alt="post image" loading="lazy">
			{% else %}
				<img  src={{ image }} alt="post image">
			{% endif %}
		</div>
		<div class="post-card__contentBox">
			<div class="post-card__contentBox-category_publishDate">
				{% for item in categories[locale] %}
					{% if item == category | fixCategory %}
						<p class="post-card__contentBox-category">{{categories[locale][loop.index0]}}</p>
					{% endif %}
				{% endfor %}
				<p class="post__imgBox-textBox__publishDate">{{ publishDate | postDate }}</p>
			</div>
			<h2>{{ title }}</h2>
			<p>{{ description | capitalize  }}</p>
			<div class="post-card__contentBox-author_minRead">
				{% if author | capitalize != "No author" %}
					<h3>
						<span>{{categories.author[locale]}}: </span>{{ author | capitalize }}
					</h3>
				{% endif %}
				<h4>{{ minRead }}
					{{categories.minutes[locale]}}</h4>
			</div>
		</div>
	</a>
{% endmacro %}