{# BEGIN IMPORTS #}
{% from "./post.macro.njk" import macro_post %}
{# END IMPORTS #}

{# BEGIN SORTED BY TITLE MACRO #}
{% macro macro_sorted_list_title(collection, amount) %}
    <div class="posts-container">
        {% for post in collection %}
            {% if loop.index < amount %}
                {{ macro_post(post.data.title, post.data.description, post.data.category, post.data.publishDate, post.data.author, post.data.minRead, post.data.featuredImage, post.url) }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}
{# END SORTED BY TITLE MACRO #}

{# BEGIN SORTED BY TIME MACRO #}
{% macro macro_sorted_list_time(collection, amount) %}
    <div class="posts-container">
        {% for post in collection %}
            {% if loop.index < amount %}
                {{ macro_post(post.data.title, post.data.description, post.data.category, post.data.publishDate, post.data.author, post.data.minRead, post.data.featuredImage, post.url) }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}
{# END SORTED BY TIME MACRO #}

{# BEGIN SORTED BY CATEGORY MACRO #}
{% macro macro_sorted_list_category(collection, amount) %}
    <div class="posts-container">
        {% for post in collection %}
            {% if loop.index < amount %}
                {{ macro_post(post.data.title, post.data.description, post.data.category, post.data.publishDate, post.data.author, post.data.minRead, post.data.featuredImage, post.url) }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}
{# END SORTED BY CATEGORY MACRO #}

{# BEGIN SORTED BY DATE MACRO #}
{% macro macro_sorted_list_date(collection, amount) %}
    <div class="posts-container">
        {% for post in collection %}
            {% if loop.index < amount %}
                {{ macro_post(post.data.title, post.data.description, post.data.category, post.data.publishDate, post.data.author, post.data.minRead, post.data.featuredImage, post.url) }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}
{# END SORTED BY DATE MACRO #}

{# BEGIN NO SORT MACRO #}
{% macro macro_no_sort(collection) %}
    <div class="posts-container">
        {% for post in collection %}
            {% if loop.index < 7 %}
                {{ macro_post(post.data.title, post.data.description, post.data.category, post.data.publishDate, post.data.author, post.data.minRead, post.data.featuredImage, post.url) }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}
{# END NO SORT MACRO #}