{% macro macro_sorted_list_title(title) %}{% endmacro %}

{% macro macro_sorted_list_time(minRead) %}{% endmacro %}

{% macro macro_sorted_list_category(category) %}{% endmacro %}

{% macro macro_sorted_list_date(publishDate) %}{% endmacro %}

{% macro macro_no_sort() %}{% endmacro %}