<!-- @format -->

<!DOCTYPE html>
<html id="html" lang="{{ locale }}"
  dir="{{ dir }}">
  <head>
    <meta charset="UTF-8"/>
    <meta
      name="description"
      content="ATDEV Blog"/>
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"/>
    <link
      rel="shortcut icon"
      href=""
      type="image/x-icon"/>
    <link rel="shortcut icon" href="/assets/icons/favicon.ico" type="image/x-icon">

    {# <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon"> #}
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-32x32.jpg" sizes="32x32"/>
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-16x16.jpg" sizes="16x16"/>

    <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">

    {# BEGIN FONT FAMILY - LATO #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    {# END FONT FAMILY - LATO #}

    {# BEGIN CSS IMPORTS #}
    {% include "../components/blocks/cssMinifier.block.njk" %}
    {# END CSS IMPORTS #}

    {# BEGIN FONT FAMILY - LATO #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    {# END FONT FAMILY - LATO #}

    <title>{{ title }}</title>
  </head>
  <body>
    <main class="main">

      <div id="parent-container" class="main-inner">
        {% include "../components/blocks/atdevHeader.block.njk" %}

        {% from "../components/macros/introduction.macro.njk" import macro_intro %}

        {{ macro_intro('BLOG', "/assets/images/banners/banner.jpg", "/assets/images/banners/banner-mobile.jpg") }}

        {% include "../components/blocks/header.block.njk" %}

        {# BEGIN MAIN CONTENT #}
        <div id="inner-main">
          {{ content | safe }}
        </div>
        {# END MAIN CONTENT #}

        {% include "../components/blocks/subscribe.njk" %}
      </div>

      {% include "../components/blocks/atdevFooter.block.njk" %}

    </main>
    <!-- End main -->

    {# BEGIN JS IMPORTS #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.11/jquery.lazy.min.js" integrity="sha512-eviLb3jW7+OaVLz5N3B5F0hpluwkLb8wTXHOTy0CyNaZM5IlShxX1nEbODak/C0k9UdsrWjqIBKOFY0ELCCArw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
    <script src="/assets/js/script.min.js" defer></script>
    {% include "../components/blocks/jsMinifierBase.block.njk" %}
    {# END JS IMPORTS #}

  </body>
</html>