<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta
      name="description"
      content="ATDEV Blog"/>
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"/>
    <link
      rel="shortcut icon"
      href=""
      type="image/x-icon"/>

    {# BEGIN CSS IMPORTS #}
    <link rel="stylesheet" href="/assets/css/index.css">
    {# END CSS IMPORTS #}

    <title>{{ title }}</title>
  </head>
  <body>
    {# BEGIN HEADER #}
    {% include "../components/header.njk" %}
    {# END HEADER #}

    {# BEGIN MAIN CONTENT #}
    <main>
      {{ content | safe }}
    </main>
    {# END MAIN CONTENT #}

    {# BEGIN FOOTER #}
    {% include "../components/footer.njk" %}
    {# END FOOTER #}
  </body>
</html>