<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# BEGIN CSS IMPORTS #}
        <link rel="stylesheet" href="/assets/css/index.css">
        {# END CSS IMPORTS #}

        {# BEGIN JS IMPORTS #}
        <script defer src="/assets/js/header.js"></script>
        <script defer type="text/javascript" src="/assets/js/sort-category.js"></script>
        <script defer type="text/javascript" src="/assets/js/mixpanel.js"></script>
        {# END JS IMPORTS #}

        <title>{{ category | upper }} | CATEGORY </title>
    </head>
    <body>
        {% from "../components/macros/sort-posts.macro.njk" import macro_sorted_list_title %}
        {% from "../components/macros/sort-posts.macro.njk" import macro_sorted_list_time %}
        {% from "../components/macros/sort-posts.macro.njk" import macro_sorted_list_date %}
        {% from "../components/macros/sort-posts.macro.njk" import macro_no_sort %}

        <span index="top"></span>
        {% from "../components/macros/introduction.macro.njk" import macro_intro %}
        {% include "../components/blocks/header.block.njk" %}

        {{ macro_intro('Category', category | fixCategory , quote_list.quotes[[1,2,3,4,5,6,7,8,9] | random].quote) }}

        <main class="category-posts">

            {# BEGIN FILTER - SORTING #}
            <div id="filter-sort-container">

                <div id="sort-by-title-box">
                    <h2>SORT BY</h2>
                </div>

                <div id="sort-controls">
                    <button id="sort-btn-title">
                        <p>Title</p>
                        <img src="/assets/icons/sort-az.png" alt="sort az"/>
                    </button>
                    <button id="sort-btn-time-read">
                        <p>Time</p>
                        <img src="/assets/icons/sort-time-read.png" alt="sort time to read"/>
                    </button>

                    <button id="sort-btn-date">
                        <p>Date</p>
                        <img src="/assets/icons/release-date-icon.png" alt="sort date"/>
                    </button>
                </div>
            </div>
            {# END FILTER - SORTING #}

            {# BEGIN POST LIST #}
            <div id="sorting">
                <div id="sorted-title">
                    {{ macro_sorted_list_title(collections[collectionByTitle], to) }}
                </div>

                <div id="sorted-time">
                    {{ macro_sorted_list_time(collections[collectionByTime], to) }}
                </div>

                <div id="sorted-date">
                    {{ macro_sorted_list_date(collections[collectionByDate], to) }}
                </div>

                <div id="not-sorted">
                    {{content | safe}}
                </div>
            </div>
            {# END POST LIST #}

            {# BEGIN INNER NAVIGATION #}
            <div>
                {% from "../components/macros/category-post.macro.njk" import macro_category_inner_navigation %}

                {{ macro_category_inner_navigation(collections[category] | length, current_page, tags) }}
            </div>
            {# END INNER NAVIGATION #}
        </main>

        <a onclick="mixpanel.track('Go Top Page Button - Blog')" id="scroll-button" href="#top">
            <img src="/assets/icons/up-arrow-icon.png" alt="Up arrow icon"/>
        </a>

    </body>
</html>