<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content={{ description }}>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/assets/icons/favicon.ico" type="image/x-icon">
        <title>{{ title }}</title>

        {# BEGIN CSS IMPORTS #}
        {% include "../components/blocks/cssMinifier.block.njk" %}
        {# END CSS IMPORTS #}

        {# BEGIN SOCIAL SHARE IMPORTS #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/assisfery/SocialShareJS@1.4/social-share.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
        <script src="https://cdn.jsdelivr.net/gh/assisfery/SocialShareJS@1.4/social-share.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
        {# END SOCIAL SHARE IMPORTS #}

        {# BEGIN JAVASCRIPT IMPORTS #}
        <script defer src="/assets/js/header.js"></script>
        <script defer src="/assets/js/video-url-shortener.js"></script>
        <script defer type="text/javascript" src="/assets/js/mixpanel.js"></script>

        {# + BEGIN TABLE OF CONTENT PLUGIN CDN #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.1.1/tocbot.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.1.1/tocbot.min.js"></script>
        <script defer type="text/javascript" src="/assets/js/tableOfContent.js"></script>
        {# + END TABLE OF CONTENT PLUGIN CDN #}

        {# BEGIN FONT FAMILY - LATO #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        {# END FONT FAMILY - LATO #}

        {# END JAVASCRIPT IMPORTS #}
    </head>
    <body>
        <span index="top"></span>
        <div id="body-tag-post-wrapper">
            {% include "../components/blocks/header.block.njk" %}
            <main>
                <div class="post">
                    {# BEGIN FEATURED IMAGE #}
                    <div class="post__imgBox">
                        <div class="post__imgBox-title">
                            <h1>{{ title }}</h1>
                            <img src={{featuredImage}} alt="Post Image">
                        </div>
                        <div class="post__imgBox-textBox">
                            <p class="post__imgBox-textBox__category">{{ category | fixCategory }}</p>
                            <p class="post__imgBox-textBox__description">{{ description }}</p>
                            <p class="post__imgBox-textBox__publishDate">{{ publishDate | postDate }}</p>
                        </div>
                    </div>
                    {# END FEATURED IMAGE #}

                    {# BEGIN POST CONTENT #}
                    <div class="post__mainContent js-toc-content js-toc-content">
                        {{ content | safe }}
                    </div>
                    {# END POST CONTENT #}

                    {# BEGIN FEATURED VIDEO #}
                    {% if featuredVideo != undefined %}
                        <div class="iframe-container">
                            <iframe src={{ featuredVideo }} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    {% endif %}
                    {# END FEATURED VIDEO #}

                    {# BEGIN POST REACTION #}
                    <div class="reactions">
                        <ul class="reaction_list">
                            <li class="reaction_box__like">
                                <img src="/assets/icons/like-icon.png" alt="Like Icon">
                            </li>
                        </ul>
                    </div>
                    {# END POST REACTION #}

                    {# BEGIN AUTHOR #}
                    <div class="post__author">
                        <h3>
                            <span>Author:</span>
                            {{ author }}
                        </h3>
                    </div>
                    {# END AUTHOR #}
                </div>
            </main>

            {# BEGIN POST SHARE LINKS #}
            <aside id="share-links">
                <div style="width: 100%; display: flex; justify-content: center; margin-bottom: 4rem;" class="ss-box" data-ss-content="false" data-ss-social="facebook, whatsapp, twitter, email, linkedin, reddit"></div>
            </aside>
            {# END POST SHARE LINKS #}

            <a onclick="mixpanel.track('Go Top Page Button - Blog')" id="scroll-button" href="#top">
                <img src="/assets/icons/up-arrow-icon.png" alt="Up arrow icon"/>
            </a>
        </div>

        {# BEGIN TABLE OF CONTENTS #}
        <div class="js-toc is-position-fixed"></div>
        {# END TABLE OF CONTENTS #}

        <script defer type="text/javascript" src="/assets/js/iframeResizer.contentWindow.min.js"></script>
    </body>
</html>